body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

.background {
  background-image: url('Assets/Background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100px;
}


.login-container {
  margin-left: 700px;
  background-color: rgba(10, 31, 56, 0.9);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 350px;
  color: white;
  text-align: center;
  margin-bottom: 50px;
}

form {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.form-row select {
  width: 70%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  appearance: none; /* Removes default dropdown styling for a custom look */
}

.form-row select:focus {
  outline: none;
  border-color: #66afe9; /* Similar focus style as the text input */
  box-shadow: 0 0 5px rgba(102, 175, 233, 0.6);
}
label {
  width: 100px;
  margin-right: 10px;
  text-align: right;
}

input[type="text"],
input[type="password"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  flex: 1;
}

button {
  margin-left: 150px;
  padding: 10px;
  background-color: #d11a2a;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 35%;
}

button:hover {
  background-color: #a9141f;
}